* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

a:link,
a:visited {
    color: #E50043;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    width: 100%;
    height: 140px;

    display: flex;
    justify-content: center;
    background-color: #FFFFFF;

    z-index: 1;

    position: fixed;

    top: 0;
    left: 0;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;

    font-family: 'Arial';
    font-size: 50px;
    line-height: 57px;
    align-items: center;

    color: #E50043;
}

.name {
    padding-left: 50px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.link1,
.link2,
.link3 {
    padding-right: 20px;
}

.hero-block {
    background-image: url(images/evian_origins_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 950px;

    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;

    color: #E50043;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

.textbox {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;

    padding: 24px;

    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    display: flex;
    letter-spacing: 0.05em;
    align-items: center;

    border: 3px solid #F8BFC7;
    border-radius: 20px;

}

.bottle-container {
    width: 1080px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.footer {
    width: 100%;
    padding: 50px;

    display: flex;
    background-color:#F8BFC7;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    align-items: center;

    color: #FFFFFF;
}